@import 'tailwindcss';

@theme {
  --font-sans: var(--font-questrial), sans-serif;
  --font-questrial: var(--font-questrial), sans-serif;
}

* {
  scrollbar-width: thin;
  scrollbar-color: rgba(120, 120, 120, 0.4) transparent;
}

*::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

*::-webkit-scrollbar-thumb {
  background: rgba(120, 120, 120, 0.4);
  border-radius: 3px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

.loading-bar {
  height: 3px;
  background: linear-gradient(currentColor 0 0) 0 0/0% 100% no-repeat;
  animation: loading-bar 2s linear infinite;
}

@keyframes loading-bar {
  to {
    background-size: 100% 100%;
  }
}
