FRONTEND_URL="http://localhost:3000"
API_URL="http://localhost:3001"
JWT_SECRET="replace-with-at-least-32-random-characters"

GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""

GITHUB_CLIENT_ID=""
GITHUB_CLIENT_SECRET=""
