FRONTEND_URL="http://localhost:3000"
API_URL="http://localhost:3001"
ACCESS_JWT_SECRET="replace-with-at-least-32-random-characters"
REFRESH_JWT_SECRET="replace-with-another-at-least-32-random-characters"

GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""

GITHUB_CLIENT_ID=""
GITHUB_CLIENT_SECRET=""

LATEX_ONLINE_URL="https://latexonline.cc"
